{% extends "blog_app/base.html "%}
 
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section"> 
    <!-- #Adding the CSRF token to prevent the attack -->
    <form method="post">   
        {% csrf_token %}
        <fieldset class="from-group">
            <legend class="border-bottom mb-4">Join Now</legend>
            <!--Display or print the form, using the verticla bar to use filter of crispy '|'-->
            {{ form|crispy }}
        </fieldset>

        <div class="from-group">
            <button class="btn btn-outline-info"  type="submit">Sign up</button>
        </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have an Account! <a  class="ml-2" href="#">Sign In</a>

         </small>
    </div>
</div>

{% endblock content %}