{% extends "blog_app/base.html" %}

{% block content %}
<h1> Blogs !</h1>
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">
                {{ post.date_posted|date:"F d, Y" }} <!--Adding the date time format from django-->
                </small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    {% endfor %}

    <!-- {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <P> by {{ post.author }} on {{ post.date_posted }}</P>
        <p> {{post.content}}</p>

    {% endfor %} -->

{% endblock content  %}    